---

secret: secret phrase used to generate auth tokens
motd: /etc/motd
database:
  url: http://localhost:5984/databasename
  username: user
  password: pass
mode: localshell [or shell+ssh]
usetmux: true
shell: /bin/bash
shellargs:
  - -c
  - tmux attach || tmux new
sshhosts:
  - localhost
  - eridani
  - qgg